@import "/css/custom.css";
@import "/css/extra.css";

/* Fist Nav */
.first-nav {
  background-color: var(--first-nav-background-color);
  padding: 0.5rem 0;
  position: relative;
  z-index: 2;
}

.first-nav .ratings-score {
  color: var(--first-nav-stars-number-color);
}

.first-nav .btn {
  background-color: var(--first-nav-btn-bg-color);
  color: var(--first-nav-btn-text-color);
}
/* Top Information */
/* @media (max-width: 768px) {
  .top-information-div {
    display: none;
  }
} */
.top-information {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

@media (max-width: 1200px) {
  .top-information {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
}

.top-information div {
  text-align: center;
  color: var(--dark);
}

.top-information div .phone {
  font-size: 22px;
}

@media (max-width: 576px) {
  .top-information {
    justify-content: center;
  }
  .top-information div .phone {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .top-information-div {
    background-color: var(--dark);
  }
  .top-information div,
  .top-information div a,
  .top-information div i {
    color: var(--white) !important;
  }
}

/* Top Navbar Section */

.top-information i {
  color: var(--upper-nav-icon-color);
}

/* Navbar */
nav {
  z-index: 2;
  width: 100%;
  height: fit-content;
}

@media (max-width: 1200px) {
  nav {
    padding: 16px 0;
  }
}

nav .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

@media (max-width: 1200px) {
  nav .navbar-nav {
    flex-direction: column;
  }
}

nav .navbar-nav .nav-link {
  color: var(--navigation-link-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 2rem;
  border-bottom: 4px solid transparent;
  transition: all 0.7s;
  text-decoration: var(--navigation-link-text-decoration);
  background: var(--navigation-link-background);
}

@media (max-width: 1400px) {
  nav .navbar-nav .nav-link {
    margin-right: 1rem;
  }
}

nav .navbar-nav .nav-link:hover {
  color: var(--navigation-link-hover-color);
  border-bottom: 3px solid var(--navigation-link-border-color);
}

@media (max-width: 1400px) {
  nav .navbar-nav .nav-link {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  nav .navbar-nav .nav-link {
    color: var(--dark);
    text-align: center;
  }
}

.logo {
  width: 20rem;
  min-height: 10rem;
  max-height: 12rem;
  object-fit: contain;
  /* filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5)); */
}

/* @media (min-width: 1500px) {
  .logo {
    position: relative;
    top: 1rem;
    z-index: 10;
  }
} */

@media (max-width: 1400px) {
  .logo {
    width: 17rem;
  }
}

@media (max-width: 1200px) {
  .logo {
    width: 95%;
    min-height: inherit;
    padding: 1rem 0;
  }

  .logo-section {
    width: 21rem;
    max-width: calc(100% - 65px);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 92%;
  }

  .logo-section {
    width: 18rem;
    max-width: calc(100% - 65px);
  }
}

/* Hero Info Banner */
.hero-info-banner {
  background-color: var(--hero-info-banner-background-color);
  padding: 1rem 0;
  position: relative;
  z-index: 2;
}

.hero-info-banner p {
  color: var(--hero-info-banner-text-color);
}

.hero-info-banner span {
  color: var(--hero-info-banner-highlighted-text-color);
}

/* Overall Navbar and Hero Section */
.nav-hero {
  width: 100%;
  height: auto;
  position: relative;
}

@media (max-width: 1200px) {
  .nav-hero {
    height: auto;
  }
}

.nav-hero::after {
  position: absolute;
  content: "";
  background: var(--hero-overlay);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-hero .hero,
.nav-hero .inner-hero {
  width: 100%;
}

.nav-hero .hero .btn-primary {
  border: 2px solid var(--hero-primary-button) !important;
  background-color: var(--hero-primary-button) !important;
  color: var(--hero-primary-button-text) !important;
  transition: all 0.3s;
}

.nav-hero .hero .btn-primary:hover {
  border: 2px solid var(--hero-primary-button) !important;
  background-color: transparent !important;
  color: var(--hero-primary-button) !important;
}

.nav-hero .hero .btn-secondary {
  border: 2px solid var(--hero-secondary-button-text) !important;
  background-color: var(--hero-secondary-button) !important;
  color: var(--hero-secondary-button-text) !important;
}

.nav-hero .hero .btn-secondary:hover {
  border: 2px solid var(--hero-secondary-button-text) !important;
  background-color: var(--hero-secondary-button-text) !important;
  color: var(--hero-secondary-button-text-color) !important;
}

@media (max-width: 1200px) {
  .nav-hero .hero,
  .nav-hero .inner-hero {
    padding-top: 3rem;
  }
}

.nav-hero .hero .hero-content,
.nav-hero .inner-hero .hero-content {
  padding: 6rem 0rem 8rem;
}

@media (max-width: 1200px) {
  .nav-hero .hero .hero-content,
  .nav-hero .inner-hero .hero-content {
    padding: 0rem 0rem 7rem;
  }
}

.nav-hero .hero h1,
.nav-hero .hero .h1,
.nav-hero .inner-hero h1,
.nav-hero .inner-hero .h1 {
  width: 95%;
  margin: 0 auto;
  text-transform: capitalize;
  color: var(--hero-heading-color);
  padding: 0 2rem;
  text-shadow: 0 0 8px var(--dark);
  /* font-weight: var(--hero-font-weight); */
  font-size: var(--hero-font-size);
  line-height: 60px;
  margin-bottom: 2.5rem;
}

/* .nav-hero .hero h1 span {
  color: var(--hero-highlighted-text);
  font-weight: var(--hero-highlighted-text-font-weight);
} */

@media (max-width: 768px) {
  .nav-hero .hero h1,
  .nav-hero .hero .h1,
  .nav-hero .inner-hero h1,
  .nav-hero .inner-hero .h1 {
    width: 100%;
    padding: 0 0rem;
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .nav-hero .hero h1,
  .nav-hero .hero .h1,
  .nav-hero .inner-hero h1,
  .nav-hero .inner-hero .h1 {
    font-size: 35px;
    margin-bottom: 1rem;
    line-height: inherit;
  }
}

.nav-hero .hero .hero-info,
.nav-hero .inner-hero .hero-info {
  width: 85%;
  margin: 0 auto;
  font-size: var(--hero-paragraph-font-size);
  color: var(--hero-paragraph-color);
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  .nav-hero .hero .hero-info,
  .nav-hero .inner-hero .hero-info {
    margin-top: 0.5rem;
    width: 95%;
    font-size: 18px;
  }
}

.nav-hero .hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

/* Ratings Section Below Hero */
.ratings-div {
  margin-top: -8rem;
}

.ratings-div .ratings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  background-color: var(--light-section-background);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 65%;
}

@media (max-width: 992px) {
  .ratings-div .ratings-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
  }
}

@media (max-width: 576px) {
  .ratings-div .ratings-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.2rem;
    width: 90%;
  }
}

.ratings-div .ratings-grid .ratings-card {
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
}

.ratings-div .ratings-grid .ratings-card:hover {
  background-color: var(--white);
}

.ratings-div .ratings-grid .ratings-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
}

.ratings-div .ratings-grid .ratings-card h4,
.ratings-div .ratings-grid .ratings-card .h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.ratings-div .ratings-grid .ratings-card .ratings {
  font-size: 0.85rem;
  line-height: 24px;
  color: #ff9529;
  /*Ratings Color*/
  margin-top: 0.5rem;
}

.ratings-div .ratings-grid .ratings-card .ratings i {
  font-size: 20px;
}

@media (min-width: 576px) and (max-width: 992px) {
  .ratings-div .ratings-grid > *:nth-child(3) {
    grid-column: span 2;
    /* Makes it take full width in second row */
  }
}

/* Services Section */
.services {
  padding: 4rem 0;
  /* background-color: var(--services-section-background-color); */
  position: relative;
}

.services .bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;

}

.services .service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1200px) {
  .services .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .services .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services .service-grid .service {
  padding-bottom: 1%;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.services .service-grid .service:hover {
  transform: scale(1.03);
}

.services .service-grid .service:nth-child(odd) {
  background-color: var(--service-background-color-1);
}

.services .service-grid .service:nth-child(even) {
  background-color: var(--service-background-color-2);
}

.services .service-grid .service .info-div {
  position: relative;
  padding: 1rem;
}

.services .service-grid .service .info-div .icon-div img {
  width: 4.5rem;
  filter: var(--services-icon-filter-color);
}

.services .service-grid .service .info-div .bg-icon {
  position: absolute;
  right: 2rem;
  opacity: 0.1;
  top: 2rem;
  width: 7rem;
  filter: var(--services-icon-filter-color);
}

.services .service-grid .service .service-name {
  font-weight: 600;
  font-size: 26px;
  margin-top: 1rem;
  color: var(--dark);
}

.services .service-grid .service .img-div {
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  /* padding: 2.2rem 1rem 1rem; */
  background-color: var(--danger);
}

.services .service-grid .service .img-div p {
  color: var(--white);
  min-height: 100px;
}

.services .service-grid .service .img-div img {
  width: 100%;
  object-fit: cover;
  height: 15rem;
  border-radius: 20px;
}

.services .service-grid .service .img-div .phone-icon a {
  background-color: var(--service-phone-background-color);
  font-size: 18px;
  padding: 1rem 1.3rem;
  z-index: 2;
  position: absolute;
  border-radius: 50%;
  color: var(--services-phone-icon-color);
  top: -2rem;
  right: 2rem;
  border: 3px solid var(--white);
}

/* Secondary About Us */
.secondary-about-us.flipped .flex {
  flex-direction: row-reverse;
}
.secondary-about-us .flex {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 992px) {
  .secondary-about-us .flex,
  .secondary-about-us.flipped .flex {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }
}

.secondary-about-us .flex .img-side {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.secondary-about-us .flex .img-side img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: 100%;
}

.secondary-about-us .flex .img-side video {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: 100%;
}

@media (max-width: 992px) {
  .secondary-about-us .flex .img-side {
    width: 100%;
    height: 100%;
    margin-top: 1.7rem;
  }

  .secondary-about-us .flex .img-side img {
    min-height: inherit;
    max-height: 20rem;
  }
}

.secondary-about-us .flex .img-side .icon-description {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  padding-left: 2rem;
  background-color: var(--primary);
  width: 100%;
}

.secondary-about-us .flex .img-side .icon-description p {
  color: var(--white);
}

.secondary-about-us .flex .img-side .icon-description .icon-div {
  background-color: transparent;
  padding: 0.6rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.secondary-about-us .flex .img-side .icon-description .icon-div i {
  font-size: 1.5rem;
  color: var(--white);
}

/* Info Side */
.secondary-about-us .flex .info-side {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .secondary-about-us .flex .info-side {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .secondary-about-us .flex .info-side {
    width: 100%;
  }
}

/* Abouts Us Flipped */
.about-us .opposite {
  flex-direction: row-reverse;
}

.about-us .about-us-flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .about-us .about-us-flex {
    flex-direction: column;
  }
}

.about-us .about-us-flex .info-div {
  width: 48%;
}

.about-us .about-us-flex .info-div .icon-description {
  display: flex;
  align-items: top;
  margin-bottom: 1rem;
}

.about-us .about-us-flex .info-div .icon-div {
  margin-right: 1rem;
}

.about-us .about-us-flex .info-div .icon-div img {
  width: 4.5rem;
}

.about-us .about-us-flex .information .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .about-us .about-us-flex .info-div {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.about-us .about-us-flex .img-div {
  width: 48%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.about-us .about-us-flex .img-div .main-img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  transform: scaleX(-1);
}

@media (max-width: 992px) {
  .about-us .about-us-flex .img-div {
    width: 100%;
  }

  .about-us .about-us-flex .img-div .main-img {
    max-height: 30rem;
  }
}

.about-us .about-us-flex .img-div .add-on-img {
  position: absolute;
  width: 40%;
  height: 17rem;
  object-fit: cover;
  right: 0;
  bottom: 1rem;
  z-index: 2;
  border-radius: 2rem;
  border: 8px solid var(--body);
}

@media (max-width: 768px) {
  .about-us .about-us-flex .img-div .add-on-img {
    display: none;
  }

  .about-us .about-us-flex .img-div .main-img {
    width: 100%;
  }
}

/* About Us End */

.about-us ul {
  list-style: none;
  padding-left: 0;
}

.about-us li {
  font-size: 17px;
  margin-bottom: 0.3rem;
  padding-left: 1em;
  text-indent: -1em;
}

.about-us li:before {
  content: "✅";
  padding-right: 5px;
}

.about-us .nobefore li:before {
  content: "◉";
}
/* Why Us */
.why-us {
  /* background-color: rgb(237, 248, 221); */
  background-color: var(--dark);
  padding: 3rem 0;
  position: relative;
}

.why-us::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: var(--primary);
  right: 0;
  top: 0;
  z-index: 1;
}

@media (max-width: 1200px) {
  body .why-us .bg-pattern {
    display: none !important;
  }

  .why-us::after {
    display: none;
  }
}

.why-us .flex {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .why-us .flex {
    flex-direction: column;
  }
}

.why-us .info-div {
  width: 49%;
}

@media (max-width: 1200px) {
  .why-us .info-div {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.why-us .features {
  margin-top: 2rem;
}

.why-us .feature {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.35rem 2rem;
  margin-bottom: 2rem;
  width: 70%;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .why-us .feature {
    width: 100%;
  }
}

.why-us .feature p {
  font-weight: 500;
  color: var(--dark);
  text-transform: capitalize;
}

.why-us .feature i {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 1rem;
  object-fit: contain;
}

.why-us .img-div {
  z-index: 2;
  width: 48%;
  position: relative;
}

@media (max-width: 1200px) {
  .why-us .img-div {
    width: 100%;
  }
}

.why-us .img-div img {
  border-radius: 6px;
  width: 100%;
  min-height: 560px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .why-us .img-div img {
    min-height: inherit;
    max-height: 35rem;
    object-fit: cover;
    object-position: top;
  }
}

/* Service Areas */

.service-areas {
  padding: 3rem 0;
}

.service-areas .bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  filter: brightness(30%);
  border-radius: 12px;

}
.service-areas .container {
  background-color: #1d300065;
  padding: 2rem;
  border-radius: 12px;
}
.service-areas .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  filter: brightness(30%);
}
.service-areas .cities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 1rem;
  margin-top: 2rem;
  list-style-type: circle;
}
@media (max-width: 768px) {
  .service-areas .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .service-areas .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}
.service-areas .cities li {
  padding-bottom: 0.5rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  color: #fcfef7;
}
.service-areas .cities li a {
  font-size: 18px;
  color: #fcfef7;
}


/* Testimonials Section */
.testimonials {
  --testomonials-left-width: 40%;
  position: relative;
  --testimonials-after-effects: var(--primary-overlay-bg-color);
}

@media (max-width: 1200px) {
  .testimonials {
    --testomonials-left-width: 100%;
    --testomonials-left-height: 25rem;
    position: relative;
  }
}

.testimonials .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  width: var(--testomonials-left-width);
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 5rem;
}

.testimonials::after {
  content: "";
  position: absolute;
  width: var(--testomonials-left-width);
  height: 100%;
  background-color: var(--testimonials-after-effects);
  top: 0;
  left: 0;
  z-index: -1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 5rem;
}

.testimonials .flex {
  display: flex;
  justify-content: space-between;
}

/* Headline Side */
.testimonials .flex .headline-side {
  width: var(--testomonials-left-width);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  position: relative;
  z-index: 2;
}

.testimonials .flex .headline-side .quote {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  z-index: -1;
  top: 8%;
  left: 3%;
}

.testimonials .flex .headline-side .quote i {
  font-size: 3rem;
  color: var(--white);
}

.testimonials .flex .headline-side h3 {
  font-size: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  color: var(--white);
  text-transform: capitalize;
}

.testimonials .flex .headline-side .dotted {
  width: 9rem;
  position: absolute;
  height: 5rem;
  z-index: -1;
  opacity: 0.4;
  left: 1%;
  bottom: 25%;
}

@media (max-width: 1200px) {
  .testimonials .flex {
    flex-direction: column;
  }

  .testimonials .flex .headline-side {
    width: var(--testomonials-left-width);
    height: var(--testomonials-left-height);
  }

  .testimonials .bg-img {
    height: var(--testomonials-left-height);
  }

  .testimonials::after {
    height: var(--testomonials-left-height);
  }

  .testimonials .flex .headline-side h3 {
    text-align: center;
  }

  .testimonials .bg-img {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .testimonials::after {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}

/* Testimonials Side */
.testimonials .flex .testimonials-side {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3rem;
}

@media (max-width: 1200px) {
  .testimonials .flex .testimonials-side {
    width: 100%;
    padding-right: inherit;
  }

  .testimonials .flex .testimonial {
    width: 100%;
  }
}

.testimonials .flex .testimonials-side h6 {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: var(--dark);
}

.testimonials .flex .testimonials-side h6::after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 3px;
  background-color: var(--primary);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.testimonials .flex .testimonials-side .testimonial {
  margin: 2rem 2rem;
}

@media (max-width: 576px) {
  .testimonials .flex .testimonials-side .testimonial {
    margin: 2rem 0rem;
  }
}

.testimonials .flex .testimonials-side .testimonial .comment {
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonials .flex .testimonials-side .testimonial .ratings {
  text-align: center;
}

.testimonials .flex .testimonials-side .testimonial .ratings i {
  color: #ff9529;
  font-size: 20px;
}

.testimonials .flex .testimonials-side .testimonial .name {
  text-align: center;
  font-size: 20px;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.testimonials .flex .testimonials-side .testimonial .city {
  font-weight: 400;
  text-align: center;
  font-size: 17px;
  margin-top: 0.7rem;
}

/*Testimonials Rating Start */

.testimonials .flex .testimonials-side .ratings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 992px) {
  .testimonials .flex .testimonials-side .ratings-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
  }
}

@media (max-width: 576px) {
  .testimonials .flex .testimonials-side .ratings-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.2rem;
    width: 90%;
  }
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card {
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  filter: grayscale(100%);
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card:hover {
  filter: inherit;
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
  /* filter: grayscale(100%); */
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card .ratings {
  font-size: 0.85rem;
  line-height: 24px;
  color: #ff9529;
  /*Ratings Color*/
  margin-top: 0.5rem;
}

.testimonials .flex .testimonials-side .ratings-grid .ratings-card .ratings i {
  font-size: 16px;
}

@media (min-width: 576px) and (max-width: 992px) {
  .testimonials .flex .testimonials-side .ratings-grid > *:nth-child(3) {
    grid-column: span 2;
    /* Makes it take full width in second row */
  }
}

/* Slick */
.testimonials .flex .testimonials-side .slick-dots {
  position: absolute;
  flex-direction: column;
  right: -5rem;
  top: 30%;
  transform: translateY(-80%);
}

.testimonials .flex .testimonials-side .slick-dots .slick-active button {
  width: 0.8rem;
  height: 2rem;
}

.testimonials .flex .testimonials-side .slick-dots li {
  margin-bottom: 0.5rem;
}

.testimonials .flex .testimonials-side .slick-arrow {
  top: inherit;
  bottom: -3rem;
}

.testimonials .flex .testimonials-side .left-arrow {
  left: 48%;
  transform: translateX(-100%);
}

.testimonials .flex .testimonials-side .right-arrow {
  right: 48%;
  transform: translateX(100%);
}

/* CTA Section */
.cta {
  position: relative;
  padding: 5rem 0;
}

.cta .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -3;
  object-position: top;
}

.cta h4,
.cta .h4 {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  color: var(--white);
  z-index: 2 !important;
}

/* Video */
.video {
  position: relative;
  padding: 6rem 0;
  color: var(--white);
}

.video::after {
  content: "";
  background-color: var(--primary-overlay-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video .bg-img {
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  object-fit: cover;
}

.video i {
  font-size: 85px;
  cursor: pointer;
}

/* Logo List */
.logo-list {
  padding: 1rem;
  margin-bottom: 1rem;
}
.logo-list .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-list .logos .logo-div {
  width: 20%;
}

@media (max-width: 576px) {
  .logo-list .logos {
    row-gap: 1rem;
  }
  .logo-list .logos .logo-div {
    width: 40%;
  }
}

@media (max-width: 300px) {
  .logo-list .logos {
    row-gap: 1rem;
  }
  .logo-list .logos .logo-div {
    width: 98%;
  }
}
.logo-list .logos .logo-div img {
  width: 100%;
  object-fit: contain;
}

/* Mass Reviews */
.mass-reviews {
  overflow: visible !important;
  overflow-x: hidden;
}
.mass-reviews .review {
  background-color: #fbfdff;
  padding: 6rem 1rem 3rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 1rem 0 4rem;
  position: relative;
}
.mass-reviews .review .comment {
  font-size: 17px;
  font-weight: 500;
  color: #6b6b6b;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.mass-reviews .review .name {
  font-weight: 500;
  color: #6b6b6b;
}
.mass-reviews .review .quote {
  width: 8rem;
  object-fit: contain;
  position: absolute;
  top: -20%;
}
@media (max-width: 576px) {
  .mass-reviews .review .quote {
    width: 6rem;
    top: -10%;
  }
}
.mass-reviews .review:nth-child(odd) .quote {
  left: 5%;
  transform: scale(-1);
}
.mass-reviews .review:nth-child(even) .quote {
  right: 5%;
}

.learn-more {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.learn-more:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--success);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.learn-more span {
  position: relative;
  transition: all ease 0.5s;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--dark);
}

.learn-more svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--primary);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.learn-more:hover:before {
  width: 100%;
  background: var(--primary);
}

.learn-more:hover span {
  color: var(--white);
}

.learn-more:hover svg {
  transform: translateX(0);
  stroke: var(--white);
}

.learn-more:active {
  transform: scale(0.95);
}


/* Galery Section */
.gallery .gallery-photos {
  column-count: 3;
  --webkit-column-count: 3;
  --moz-column-count: 3;
  gap: 1rem;
  padding: 2rem 0rem;
}

@media (max-width: 768px) {
  .gallery .gallery-photos {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .gallery .gallery-photos {
    column-count: 1;
  }
}

.gallery .gallery-photos .image {
  position: relative;
  overflow: hidden;
}

.gallery .gallery-photos .image img {
  height: auto;
  max-height: 25rem;
  object-fit: cover;
  width: 100%;
  margin-bottom: 1rem;
}

.gallery .gallery-photos .image img:hover {
  transform: scale(0.97);
}

/* Footer Section */
footer {
  background: var(--footer-section-background);
  padding-top: 5rem;
  margin-top: 10rem;
}

footer .popup-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  position: absolute;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  top: -12%;
}

@media (max-width: 1200px) {
  footer .popup-flex {
    width: 90%;
  }
}

@media (max-width: 992px) {
  footer .popup-flex {
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
  }

  footer {
    padding-top: 8rem;
  }

  footer .logo-div {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  footer {
    padding-top: 10rem;
  }

  footer .popup-flex {
    top: -8%;
  }
}

@media (max-width: 576px) {
  footer {
    padding-top: 14rem;
  }
}

footer .popup-flex .popup {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 12px;
  padding: 0.3rem 2rem 0.3rem 0.4rem;
  box-shadow: var(--normal-box-shadow);
}

footer .popup-flex .icon-div {
  height: fit-content;
  margin: auto;
  background-color: var(--primary);
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .popup-flex .icon-div i {
  color: var(--white);
  font-size: 25px;
}

footer .popup-flex .popup p,
footer .popup-flex .popup a {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
}

footer .footer-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3rem;
}

footer p {
  color: var(--footer-section-text-color);
  padding: 1rem;
}

footer a {
  color: var(--footer-section-ahref-color);
}

footer a:hover {
  color: var(--footer-section-ahref-hover-color);
}

@media (max-width: 1200px) {
  footer .footer-grid {
    padding: 0 5rem;
  }
}

@media (max-width: 992px) {
  footer .footer-grid {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  footer .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  footer .footer-grid p {
    text-align: center;
    padding: 0.5rem;
  }
}
/* Homepage completed */
.error-page img {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.contact .flex {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
}

@media (max-width: 992px) {
  .contact .flex {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.contact .flex .info-section {
  width: 30%;
  background-color: var(--dark);
  padding: 2rem 1.5rem;
}

@media (max-width: 1400px) {
  .contact .flex .info-section {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .contact .flex .info-section {
    width: 100%;
  }
}

.contact .flex .info-section h4,
.contact .flex .info-section .h4 {
  color: var(--white);
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 2rem;
}

.contact .flex .info-section .unit {
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 2rem;
}

.contact .flex .info-section .unit i {
  color: var(--secondary);
}

.contact .flex .info-section .unit a {
  color: var(--white);
  text-decoration: underline !important;
}

.contact .flex .map-section {
  width: 70%;
}

@media (max-width: 1400px) {
  .contact .flex .map-section {
    width: 55%;
  }
}

@media (max-width: 992px) {
  .contact .flex .map-section {
    width: 100%;
  }

  .contact .flex .map-section iframe {
    min-height: 20rem;
  }
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}


.contact-bars .flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 15rem;
  gap: 0;
  border-radius: 12px;
  overflow: hidden !important;
}

@media (max-width: 992px) {
  .contact-bars .flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .contact-bars .flex {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contact-bars .flex .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  padding: 2rem 1rem;
}

.contact-bars .flex .column:nth-of-type(even) {
  background-color: #099420;
}

.contact-bars .flex .column:nth-of-type(odd) {
  background-color: var(--primary);
}

@media (max-width: 992px) and (min-width: 576px) {
  .contact-bars .flex .column {
    border-bottom: 1px solid #a1a1a1;
  }
}

.contact-bars .flex .column .icon-div {
  font-size: 3rem;
  color: var(--white)
}

.contact-bars .flex .column .title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.4rem;
}

.contact-bars .flex .column p,
.contact-bars .flex .column a {
  font-size: 1rem;
  color: var(--white);
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact-bars .flex .column p i,
.contact-bars .flex .column a i {
  margin-right: 0.2rem;
}